services:
  nuxt_ubmager:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: nuxt_ubmager
    restart: unless-stopped
    env_file:
      - ./.env
    environment:
      - NODE_ENV=production
      - NITRO_PORT=3000
      - NITRO_HOST=0.0.0.0
      - VIRTUAL_HOST=app.ubmager.shop
      - VIRTUAL_PORT=3000
      - LETSENCRYPT_HOST=app.ubmager.shop
      - LETSENCRYPT_EMAIL=ahmadfauzanroziqin@gmail.com
    healthcheck:
      test: ["CMD", "wget", "-qO-", "http://127.0.0.1:3000/"]
      interval: 30s
      timeout: 5s
      retries: 5

    networks:
      - shared-network

networks:
  shared-network:
    external: true
